.grid_1-1_about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: space-around;
  padding: 12px;
  margin: 12px;
  gap: 50px;
}

main {
  box-sizing: border-box;
  background-image: url("MESH 4.png");
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.center_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

li {
  font-family: "loos-wide", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: #e0ebf9;
  font-size: 1.2rem;
}

h2 {
  color: #aaaec7;
}

h3 {
  color: #aaaec7;
}

.grid_1-1_about_contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  display: flex;
  justify-content: center;
  text-align: center;
  justify-content: space-around;
  padding: 12px;
  margin: 12px;
  gap: 50px;
}

a {
  color: #be3cdf;
  text-decoration: none;
}
