main {
  box-sizing: border-box;
  background-image: url("MESH4.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  
}


li {
  font-family: "loos-wide", sans-serif;
font-weight: 100;
font-style: normal;
color: #E0EBF9;
font-size: 1.6rem;
}

.cphlightfest_title_container {
  padding-top: 3rem;
  padding-bottom: 2rem;
  text-align: center;
  margin: 0;
}

.main_grid_container {
    display: grid;
    grid-template-rows: repeat(4, 1fr); 
  grid-template-columns: repeat(8, 1fr); 
}

.text-container {
  padding-top: 2rem;
  text-align: right; 
  margin: 0;
  grid-column: 5/8;
}


.dropdown-container {
  padding-top: 4rem;
  text-align: left; 
  margin: 0;
  grid-column: 2/6;
}

.looking_forward {
  grid-column: 1 / 5; 
}

.looking_forward h5 {
  color: #bbafa2;
  font-size: 1.2rem;

}

.looking_forward span {
  color: #EC9A3B;
  font-weight: 800;

}
.laes_mere {
  margin: 0;
  grid-column: 4/6;
  grid-row: 4;
  margin-top: 40px;
 
}
  li{
        list-style: none;
    }

    a{
        color: #BE3CDF;
        text-decoration: none;
    }
      .nav-link{
        transition: 0.7s ease;
    }

    .nav-link:hover{
        color: #EC9A3B;
    }

    .billeder_box {
      grid-column: 4/6;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
    }


@media (max-width: 768px) {
  .main_grid_container {
    display: flex;
    flex-direction: column;
   
  }

   .text-container {
    margin-right: 20px;
    text-align: right;
   
   
  }

  .dropdown-container {
    margin-left: 20px;
    margin-bottom: 50px;
    text-align: left;
   
   
  }
.text-container p {
  font-size: 1.4rem;
}

 

  .dropdown-container h4 {
    font-size: 1.6rem;
  }

     .billeder_box {
  margin-top: 10px;
 grid-column: 1 / -1;

      
    }

.laes_mere {
 text-align: center;
 margin-bottom: 100px;


}

}
