---
import Nav from "../components/Nav.astro";
import ProgramCard from "../components/ProgramCard.astro";
import Footer from "../components/Footer.astro";
const data = await fetch("https://efrjvsgbrgktorrxkiyp.supabase.co/rest/v1/cph_lighthouse",
{
	method: "GET",
	headers: {
		apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVmcmp2c2dicmdrdG9ycnhraXlwIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTYzNDgxOTUsImV4cCI6MjAxMTkyNDE5NX0.FZgFg8q1LZylUrKUOvO7aIbWt83tY4dKVuVyAKKgxVU"
	},
}
)
.then((res) => res.json());

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="https://use.typekit.net/qzd2kga.css">
		<title>Astro</title>
	</head>
	<body>
		<header>
			<Nav />
		</header>
		<div class="h2-container">
			<h2>Program</h2>
		</div>
		<main>
			<section class="program-grid">
				{data.map((show) => {
					return <ProgramCard data={show}/>;
				})}
			</section>
		</main>
		<Footer />
	</body>
</html>

<style>
	.h2-container{
		margin: 20px 0 20px;
		text-align: center;
	}
	.program-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-content: center;
		align-items: center;
		margin: 0 100px;
		
		gap: 10px;
	}

	@media(max-width:700px){
        .program-grid {
			margin: 0 50px;
        }
    }
</style>
