---
import "../styles/style.css";
const { data } = Astro.props;
//console.log(data);
---
<a href={`events/${data.slug}`}>
    <article class="program-card">
        <img src=`/imgs/${data.img_url}` alt="Lys intallation">
    </article>
</a>

<style>
    img {
        width: 100%;
        max-height: 100%;
    }

    .program-card {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: relative;
    }

    .program-card:hover {
        filter: brightness(45%);
        cursor: pointer;
    }

    .program-card::before {
        position: absolute;
        top: center;
        left: center;
        background-color: rgb(0, 0, 0);
        padding: 10px;
        z-index: 1;
        opacity: 0; 
        transition: opacity 0.3s; 
    }

    .program-card:hover::before {
        content: "Click to read more about the event"; 
        opacity: 1;
        color: rgb(254, 254, 254);
        font-family: "termina", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #E0EBF9;
        font-size: 1.2rem;
    }


</style>