<div class="text-container">
  <p>
    February, the coldest, darkest month. <br />in the midst of the wild, stormy
    and gloomy Scandinavian winter.<br />Folks gather inside to hide away <br
    />While we are lighting up Copenhagen <br />To show you our beautiful city <br
    />From its darkest place.
  </p>
</div>

<style>
  p {
    color: #c8cbdc;
  }
</style>
